$black:#707070;
$blue:#CCDAFF;
$white:#f4f4f4;
$yellow:#FFF580;
$darkYellow:#5C550A;

@mixin btnSet($color:$black,$bc:#fff,$sAlpha:0.15,$width:200px,$height:50px){
	font-family: 'Montserrat', sans-serif;
	width: $width;
	color: $color;
	background: $bc;
	height:$height;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 25px;
	position: relative;
	box-shadow: 3px 3px 10px rgba($color:$color, $alpha:$sAlpha);	
}

@mixin btnArrowSet($width:30px,$color:$black,$bottom:15px,$right:30px,$deg:0,$left:auto){
	content: "";
	display: block;
	height: 1px;
	width: $width;
	background: $color;
	position: absolute;
	bottom:$bottom;
	right: $right;
	transform: rotateZ($deg);
	transition: 0.2s width;
	left:$left;
}

@mixin bgSet(){
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -10;
	display: none;
	overflow: hidden;
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

@mixin arrowSet($left:0,$right:8px){
	content: "";
	display:block;
	opacity: 0;
	transition:0.2s opacity;
	background-color: darken($blue,20%);
	width:12px;
	height: 1px;
	position: absolute;
	bottom:-10px;
	left:$left;
	right:$right;
	margin:auto;
}